$cc-white: #ffffff;
$cc-black: #000000;

$cc-green: #57B757;
$cc-light-green: #F2F9F1;
$cc-medium-green: #E7F5E5;
$cc-light-gray: #d7d7d7;
$cc-light-yellow: #F0F0F0;
$cc-gray: #a7a7a7;
$cc-light-blue: #F7F8FC;